/* OGÓLNE */

html, body {
  height: 100;
  margin: 0;
  padding: 0;
  font-size: 16px !important;
  color: #5c5b5b !important;
  font-family: 'Nunito', sans-serif !important;
  background: #f5f5f5 !important;
}

h1 {
  font-size: 3rem !important;
  font-weight: 800 !important;
}

.font-bold {
  font-weight: 800 !important;
}

.font-no-bold {
  font-weight: normal !important;
}

.bg-dark-gray {
  background: #6a7b8b;
}

.main-content-section {
  margin-right: 5.5% !important;
  margin-left: 5.5% !important;
}

/* NAVBAR */

.navbar{
  padding: 0 !important;
}

.navbar-div{
  padding: 0.5rem 3rem !important;
}

.navbar-nav a {
  font-family: 'Archivo', sans-serif;
  letter-spacing: 1px;
  color: #f1f3f5 !important;
  padding-right: 2rem !important;
}

.icon-mrcoffee-navbar {
  height: 4rem;
}

/* HEADER */

header {
  margin-top: 6rem;
  text-align: center;
}

.logo-header {
  width: 20%;
}

/* FOOTER */

.main-row-footer{
  height: 10rem;
  color: #ffffff;
  letter-spacing: 1px;
}

.icon-mrcoffee-footer {
  height: 6rem;
  padding-left: 2rem;
}

.flex-social-media-links {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.flex-social-media-links img {
  width: 4rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.margin-x-footer {
  margin-left: 20%;
}

/* HOMEPAGE */

.main-content-section h1{
  margin-top: 5%;
  margin-bottom: 5%;
}

/*PHOTO CAFE PHILO*/

.card-title {
  font-size: 3.5rem !important;
  font-weight: bold !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  margin-top: 5%;
  color: white;
  text-align: center;
}

/*TROIS CHOSES*/

.trois-choses-columns div {
  padding: 2%;
  width: 31%;
  background-color: #bbc2ca;
  color: white;
}

.trois-choses-columns h2, .trois-choses p, .trois-choses img {
  padding: 2%;
}

.trois-choses h2 {
  text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
}

.trois-choses p {
  font-weight: bold;
}

.logo-trois-choses {
  width: 30% !important;
}

/*BUTTON*/

.en-savoir-plus button {
  width: 100%;
  height: 5rem;
  margin-top: 4rem;
  background-color:#6a7b8b;
}

/*PROGRAMME*/

.notre-programme {
  margin-right: 2%;
  margin-left: 2%;
}

.notre-programme .row {
  margin-bottom: 6rem;
}

.icon-open {
  width: 6rem !important;
}

.row-open {
  margin-right: 60% !important;
}

.pad-x-6 {
  padding-left: 6% !important;
  padding-right: 6% !important;
}

/* ABOUT PAGE */

.about-text-1 *, .about-text-2 h2 {
  padding-top: 3rem;
}

.about-part-1, .about-part-2 {
  margin-top: 3rem;
  margin-bottom: 7rem;
}

/* CONTACT PAGE*/

.google-map {
  padding: 5% 15%;
}

.contact-details {
  margin-left: 15%;
}

/* FORM */

.form {
  margin-right: 15%;
  margin-left: 15%;
}

.form h3 {
  margin-top: 2rem;
}

input {
  height: 3rem;
  width: 100%;
  background-color: #bbc2ca;
}

textarea {
  width: 100%;
  height: 8rem;
  padding: 1rem;
  background-color: #bbc2ca;
}

::placeholder {
  color: white;
  font-weight: bold;
  font-size: 1.5rem !important;
}

.button-form, .button-modal {
  height: 5rem;
  background: #6a7b8b;
  color: white;
  font-size: 2rem;
  font-weight: 800;
  width: 30%;
  margin-top: 2rem;
  margin-bottom: 3rem;
  border-radius: 10px;
}

/* MODAL */

.logo-modal {
  height: 10rem;
}

.modal-container {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.my-modal {
  background-color: white;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 5% 7%;;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  text-align: center;
}

.my-modal h3 {
  padding: 3%;
  text-align: start !important;
  font-weight: 800;
}

.pad-right {
  padding-right: 20%;
}

.pad-row-h3 {
  padding-left: 13%;
  padding-right: 15%;
}

/* MEDIA Q */
@media all and (max-width: 1199px) {
  input[type="submit"] { font-size: 1.5rem;}
}

@media all and (max-width: 991px) {
  .icon-open-row { flex-flow: column wrap; }
  .icon-open { width: 7rem; }
  .icon-open { padding: 1rem; }
  .logo-modal { height: 5rem;}
}

@media all and (max-width: 767px) {
  .card-title { font-size: 2rem !important; }
  .en-savoir-plus h2 {font-size: 1rem !important}
  .about-part-1-row { flex-flow: column wrap; }
  .about-text-1 {order: 2;}
  .about-image-1 {order: 1;}
  .about-image-2 {padding-bottom: 3rem;}
  input[type="submit"] { font-size: 1rem;}
  .button-modal { font-size: 1rem;}
}

@media all and (max-width: 575px) {
  input[type="submit"] { font-size: 0.7rem;}
  .button-modal { font-size: 0.7rem;}
}




